In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load the Excel file
file_path = 'D:\\CubeAI Internship\\Task-7 Youtube Analysis\\cleaned_data.xlsx'
df = pd.read_excel(file_path)

# Display the first few rows of the DataFrame
print(df.head())

# Summary statistics
print(df.describe(include='all'))

# Additional steps if needed:
# Displaying information about the DataFrame
print(df.info())

# Checking for any missing values
print(df.isnull().sum())

   rank                    Youtuber  subscribers   video views  \
0     1                    t-series    245000000  228000000000
1     2              youtube movies    170000000             0
2     3                     mrbeast    166000000   28368841870
3     4  cocomelon - nursery rhymes    162000000  164000000000
4     5                   set india    159000000  148000000000

           category                       Title  uploads        Country  \
0             music                    t-series    20082          india
1  film & animation               youtubemovies        1  united states
2     entertainment                     mrbeast      741  united states
3         education  cocomelon - nursery rhymes      966  united states
4             shows                   set india   116536          india

  Abbreviation   channel_type  ...  highest_monthly_earnings  \
0           in          music  ...                9000000.00
1           us          games  ...                      0.05
2           us  entertainment  ...                5400000.00
3           us      education  ...                7900000.00
4           in  entertainment  ...                7300000.00

   lowest_yearly_earnings  highest_yearly_earnings  \
0              6800000.00             1.084000e+08
1                    0.04             5.800000e-01
2              4000000.00             6.470000e+07
3              5900000.00             9.480000e+07
4              5500000.00             8.750000e+07

   subscribers_for_last_30_days  Gross tertiary education enrollment (%)  \
0                       2000000                                     28.1
1                             0                                     88.2
2                       8000000                                     88.2
3                       1000000                                     88.2
4                       1000000                                     28.1

   Population  Unemployment rate  Urban_population   Latitude  Longitude
0  1366417754               5.36         471031528  20.593684  78.962880
1   328239523              14.70         270663028  37.090240 -95.712891
2   328239523              14.70         270663028  37.090240 -95.712891
3   328239523              14.70         270663028  37.090240 -95.712891
4  1366417754               5.36         471031528  20.593684  78.962880

[5 rows x 25 columns]

TypeError: 'include' is an invalid keyword argument for print()